---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Akrasia</title>

    <link rel="stylesheet" href="/assets/vendor/css/basscss.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bundle.css" media="screen">
  </head>

  <body>
    <div class="container">
      <div id="header">
        <div class="col col-4">
          &nbsp;<!-- is okay -->
        </div>
        <div class="col col-8">
          <ul class="navigation list-reset">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/pictures">Pictures</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="col col-4" id="sidebar">
        <div class="center" id="shortbio">
          <a href="/">
            <img src="/assets/images/gusche.png" />
          </a>

          <p>
            This is a short bio about myself. What should I write here?
            Link to the about page, when It's done, wa?! Just some more
            lines wa. Und so weiter. Und so fort.
          </p>
        </div>

        <div class="container" id="elsewhere">
          <div class="col col-4 center">
            <a href="mailto:me@akrasia.me">
              {% include email.svg %}
            </a>
          </div>
          <div class="col col-4 center">
            <a href="https://twitter.com/mustardamus">
              {% include twitter.svg %}
            </a>
          </div>
          <div class="col col-4 center">
            <a href="https://github.com/mustardamus">
              {% include github.svg %}
            </a>
          </div>
        </div>
      </div>

      <div class="col col-8" id="content">
        <div class="inner">
          <h1>Ow yeah ab gehts</h1>

          <p>
            Und hier der content. Schrift kann ruhig bissl grösser sein, wa?!
          </p>

          <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {{ post.excerpt }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
