---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Akrasia</title>

    <link rel="stylesheet" href="/assets/vendor/css/basscss.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bundle.css" media="screen">
  </head>

  <body>
    <div class="container">
      <div id="header">
        <div class="col col-4">
          &nbsp;<!-- is okay -->
        </div>
        <div class="col col-8">
          <ul class="navigation list-reset">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/pictures">Pictures</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="col col-4" id="sidebar">
        <div class="center" id="shortbio">
          <a href="/about">
            <img src="/assets/images/gusche.png" />
          </a>

          <p>
            This is a short bio about myself. What should I write here?
            Link to the about page, when It's done, wa?! Just some more
            lines wa. Und so weiter. Und so fort.
          </p>
        </div>

        <div class="container" id="elsewhere">
          <div class="col col-4 center">
            <a href="mailto:me@akrasia.me">
              {% include email.svg %}
            </a>
          </div>
          <div class="col col-4 center">
            <a href="https://twitter.com/mustardamus">
              {% include twitter.svg %}
            </a>
          </div>
          <div class="col col-4 center">
            <a href="https://github.com/mustardamus">
              {% include github.svg %}
            </a>
          </div>
        </div>
      </div>

      <div class="col col-8" id="content">
        <div class="inner">
          <div class="container">
            <div class="clearfix">

              <div id="quote">
                <p>
                  No valid plans for the future can be made
                  by those who have no capacity for living now.
                </p>

                <div class="right-align">
                  Alan Watts
                </div>
              </div>

              <div class="col col-8">
                <ul class="list-reset" id="recent-posts">
                  {% for post in site.posts limit: 5 %}
                    <li>
                      <a href="{{ post.url }}">
                        <span class="title">{{ post.title }}</span>
                        <span class="date">
                          {{ post.date | date_to_long_string }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="col col-4">
                <ul class="list-reset" id="random-pics">
                  <!-- filled with 3 random pics by homepage.js -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/vendor/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/homepage.js"></script>
  </body>
</html>
