<div class="center" id="shortbio">
  <a href="/skills">
    <img src="/assets/images/gusche.png" />
  </a>

  <p>
    Hi! I am Basti, 28 years young, full-stack web developer originally from
    Germany. However, in
    2013 I became a Digital Nomad. Ever since I explore Europe and have been
    to 24+ cities. The adventure continues: Currently I am traveling in Italy.
  </p>
</div>

<div class="container homepage" id="elsewhere">
  <div class="col col-4 center">
    <a href="mailto:me@akrasia.me">
      {% include email.svg %}
    </a>
  </div>
  <div class="col col-4 center">
    <a href="https://twitter.com/mustardamus">
      {% include twitter.svg %}
    </a>
  </div>
  <div class="col col-4 center">
    <a href="https://github.com/mustardamus">
      {% include github.svg %}
    </a>
  </div>
</div>
