#shortbio {
  p {
    font-size: 0.9em;
    border-top: 10px solid rgba(0, 0, 0, 0.1);
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    color: #ddd;
  }
}

#elsewhere {
  padding: 10px 30px;

  a {
    svg {
      width: 26px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      padding: 10px;
      margin-top: 2px;
    }

    &:hover svg {
      border: 3px solid $color1;
      margin-top: 0;
    }
  }
}

#quote {
  padding-bottom: 5px;
  margin-bottom: 50px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.6em !important;
    color: #888;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 20px 20px 10px 20px;
  }

  div {
    font-family: $sans;
    color: $dark2;
    padding-right: 10px;
  }
}

#recent-posts {
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  li {
    line-height: 22px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }

    a {
      display: block;
      padding: 0 10px;
      font-family: $sans;

      .title {
        font-size: 1.2em;
        color: $color2;
      }

      .date {
        display: block;
        color: #aaa;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      &:hover {
        text-decoration: none;

        .title {
          border-bottom: 2px solid $color2;
        }

        .date {
          color: #666;
        }
      }
    }
  }
}

#random-pics {
  li {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      img {
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

      &:hover img {
        border: 1px solid $color2;
      }
    }
  }
}
