#pictures {
  .city {
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 50px;

    &:last-child {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: $dark2;
      margin: 0 0 20px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      small {
        font-family: $serif;
        color: $color2;
        font-size: 0.6em;
      }
    }

    .pictures {
      line-height: 0;

      .picture {
        margin: 0 4px 3px 4px;

        a {
          img {
            border: 3px solid #aaa;
          }

          &:hover {
            img {
              border: 3px solid $color2;
            }
          }
        }
      }
    }
  }
}

#cities-nav {
  ul {
    margin: 0 10px;
    display: none;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &:last-child {
        border: none;
      }

      a {
        color: $color1;
        font-family: $sans;
        display: block;
        padding: 5px 0;

        &:hover {
          background: $color1;
          color: $dark2;
          text-decoration: none;
          border-radius: 2px;
        }
      }
    }
  }
}
