---
---

@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

$dark1: #101010;
$dark2: #202020;
$color1: #D21522;
$color2: #B00449;
$serif: 'Noto Serif', serif;
$sans: 'Montserrat', sans-serif;
$mono: 'Oxygen Mono';

body {
  background: url('../images/use_your_illusion.png') repeat top left fixed $dark2;
}

p {
  font-family: $serif;
  color: $dark2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  color: $dark1;
}

#header {
  padding-top: 40px;

  .navigation {
    position: relative;
    z-index: 2;
    margin-left: 10px;

    li {
      float: left;
      margin-right: 30px;

      a {
        color: $color1;
        font-family: $sans;
        font-size: 1.2em;
        padding: 10px 30px;
        border-bottom: 10px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.1);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);

        &:hover {
          border-bottom: 10px solid $color1;
          text-decoration: none;
        }
      }

      &.active {
        a {
          background: $color1;
          color: $dark2;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);

          &:hover {
            border-bottom: 10px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

#sidebar {
  margin-top: 18px;
}

#elsewhere {
  &.small {
    padding: 0 30px 20px 30px;
    margin: 0 20px 20px 20px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  }

  .clearfix {
    min-height: 58px;
  }

  a {
    svg {
      width: 26px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      padding: 10px;
      margin-top: 2px;
    }

    img {
      margin-top: 2px;
      width: 49px;
    }

    &:hover svg {
      border: 3px solid $color1;
      margin-top: 0;
    }
  }
}

#content {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 2px;
  padding: 10px;
  position: relative;
  z-index: 1;
  top: 8px;
  margin-bottom: 50px;

  .inner {
    background: white;
    padding: 15px;

    p {
      font-size: 1.16em;
    }
  }
}


@import 'homepage';
@import 'pictures';
@import 'blog';
@import 'post';

#about {
  section {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  h1 {
    margin: 20px 0 30px 0;
    padding-bottom: 10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  }

  .skills {
    h2 {
      margin: 0 0 12px 0;
      padding-left: 40px;
      min-height: 32px;

      a {
        color: $dark1;

        &:hover {
          text-decoration: none;
          border-bottom: 2px solid $color2;
        }
      }
    }

    p {
      font-size: 1em;
    }

    .jquery h2 {
      background: url('../images/icon_jquery.jpg') top left no-repeat;
    }

    .backbone h2 {
      background: url('../images/icon_backbone.jpg') top left no-repeat;
    }

    .vue h2 {
      background: url('../images/icon_vue.jpg') top left no-repeat;
    }

    .sass h2 {
      background: url('../images/icon_sass.jpg') top left no-repeat;
    }

    .gulp h2 {
      background: url('../images/icon_gulp.jpg') top left no-repeat;
    }

    .bootstrap h2 {
      background: url('../images/icon_bootstrap.jpg') top left no-repeat;
    }

    .browserify h2 {
      background: url('../images/icon_browserify.jpg') top left no-repeat;
    }

    .html5 h2 {
      background: url('../images/icon_html5.jpg') top left no-repeat;
    }

    .coffeescript h2 {
      background: url('../images/icon_coffeescript.jpg') top left no-repeat;
    }

    .etc h2 {
      background: url('../images/icon_etc.jpg') top left no-repeat;
    }

    .express h2 {
      background: url('../images/icon_express.jpg') top left no-repeat;
    }

    .socketio h2 {
      background: url('../images/icon_socketio.jpg') top left no-repeat;
    }

    .nodejs h2 {
      background: url('../images/icon_nodejs.jpg') top left no-repeat;
    }

    .ruby h2 {
      background: url('../images/icon_ruby.jpg') top left no-repeat;
    }

    .mongoid h2 {
      background: url('../images/icon_mongoid.jpg') top left no-repeat;
    }

    .mongoose h2 {
      background: url('../images/icon_mongoose.jpg') top left no-repeat;
    }

    .rails h2 {
      background: url('../images/icon_rails.jpg') top left no-repeat;
    }

    .sinatra h2 {
      background: url('../images/icon_sinatra.jpg') top left no-repeat;
    }

    .jekyll h2 {
      background: url('../images/icon_jekyll.jpg') top left no-repeat;
    }

    .ubuntu h2 {
      background: url('../images/icon_ubuntu.jpg') top left no-repeat;
    }

    .osx h2 {
      background: url('../images/icon_osx.jpg') top left no-repeat;
    }

    .git h2 {
      background: url('../images/icon_git.jpg') top left no-repeat;
    }

    .nginx h2 {
      background: url('../images/icon_nginx.jpg') top left no-repeat;
    }

    .atom h2 {
      background: url('../images/icon_atom.jpg') top left no-repeat;
    }

    .docker h2 {
      background: url('../images/icon_docker.jpg') top left no-repeat;
    }

    .chrome h2 {
      background: url('../images/icon_chrome.jpg') top left no-repeat;
    }
  }
}
