---
---

@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background: url('../images/use_your_illusion.png') repeat top left #202020;
}

p {
  font-family: 'Ovo', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #101010;
}

#header {
  padding-top: 50px;
}

#content {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 2px;
  padding: 10px;

  .inner {
    color: #202020;
    background: white;
    border-radius: 2px;
    padding: 15px;

    p {
      font-size: 1.16em;
    }
  }
}

#sidebar {

}

#shortbio {
  p {
    font-size: 0.9em;
    border-top: 10px solid rgba(0, 0, 0, 0.1);
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    color: #ddd;
  }
}

#elsewhere {
  padding: 10px 30px;

  a {
    svg {
      width: 26px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      padding: 10px;
      margin-top: 2px;
    }

    &:hover svg {
      border: 3px solid #D21522;
      margin-top: 0;
    }
  }
}

@import 'homepage';
@import 'pictures';
