---
---

@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

$dark1: #101010;
$dark2: #202020;
$color1: #D21522;
$color2: #B00449;
$serif: 'Ovo', serif;
$sans: 'Montserrat', sans-serif;
$mono: 'Oxygen Mono';

body {
  background: url('../images/use_your_illusion.png') repeat top left $dark2;
}

p {
  font-family: $serif;
  color: $dark2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  color: $dark1;
}

#header {
  padding-top: 40px;

  .navigation {
    position: relative;
    z-index: 2;
    margin-left: 10px;

    li {
      float: left;
      margin-right: 30px;

      a {
        color: $color1;
        font-family: $sans;
        font-size: 1.2em;
        padding: 10px 30px;
        border-bottom: 10px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.1);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);

        &:hover {
          border-bottom: 10px solid $color1;
          text-decoration: none;
        }
      }

      &.active {
        a {
          background: $color1;
          color: $dark2;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);

          &:hover {
            border-bottom: 10px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

#sidebar {
  margin-top: 18px;
}

#elsewhere {
  &.small {
    padding: 0 30px 20px 30px;
    margin: 0 20px 20px 20px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  }

  .clearfix {
    min-height: 58px;
  }

  a {
    svg {
      width: 26px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      padding: 10px;
      margin-top: 2px;
    }

    img {
      margin-top: 2px;
      width: 49px;
    }

    &:hover svg {
      border: 3px solid $color1;
      margin-top: 0;
    }
  }
}

#content {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 2px;
  padding: 10px;
  position: relative;
  z-index: 1;
  top: 8px;
  margin-bottom: 50px;

  .inner {
    background: white;
    padding: 15px;

    p {
      font-size: 1.16em;
    }
  }
}


@import 'homepage';
@import 'pictures';

#blog-nav {
  margin: 0 20px;

  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 22px;

    &:last-child {
      border: none;
    }

    &.active {
      a {
        background: $color1;
        border-radius: 2px;

        .title {
          color: $dark1;
        }

        .close {
          position: absolute;
          display: block;
          top: 17px;
          right: 17px;
          width: 25px;
          height: 23px;
          padding-top: 2px;
          font-size: 0.9em;
          background: $dark2;
          border-radius: 100%;
          text-align: center;
        }

        &:hover .close {
          background: $dark1;
        }
      }
    }

    a {
      display: block;
      position: relative;
      text-align: center;
      color: $color1;
      font-family: $sans;
      padding: 7px 0 4px 0;

      .title {
        font-size: 1.6em;
      }

      .count {
        display: block;
        color: $dark1;
      }

      .close {
        display: none;
      }

      &:hover {
        text-decoration: none;
        background: $color1;
        border-radius: 2px;

        .title {
          color: $dark1;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
